<div class="mt-4">
    <h3>Tạo sản phẩm</h3>

    <form method="POST" action="/items/store">
    <div class="form-group">
        <label for="id">Mã sản phẩm</label>
        <input type="text" class="form-control" id="id" name="id" >
    </div>
    <div class="form-group">
        <label for="name">Tên sản phẩm</label>
        <input type="text" class="form-control" id="name" name="name" >
    </div>
    <div class="form-group">
        <label for="total">Số lượng</label>
        <input type="text" class="form-control" id="total" name="total" >
    </div>
    <div class="form-group">
        <label for="price">Đơn giá</label>
        <input type="text" class="form-control" id="price" name="price" >
    </div>
    <div class="image">
        <label for="id">Hình ảnh</label>
        <input type="text" class="form-control" id="image" name="image" >
    </div>
    <div class="videoId">
        <label for="id">VideoId</label>
        <input type="text" class="form-control" id="videoId" name="videoId" >
    </div>


    <button type="submit" class="btn btn-primary">Tạo sản phẩm</button>
    </form>

</div>